<template lang="pug">
	div.col-md-12.empty-result
		div.text-center
			i.fas.fa-inbox
		div.text-center 
			| {{message}}
</template>

<script>

export default {
	name: 'emptyResult',
	props: ['message']
};

</script>

<style lang="scss" scoped>

@import "../styles/variaveis";

.empty-result {

	color: $cinza-3;

	margin-top: 100px;
	margin-bottom: 50px;

	.fa {
		
		font-size: 3rem;
	}
}

</style>
