<template lang="pug">

div.invalid-feedback(v-show="parentErrors.has(name)") {{ msg || parentErrors.first(name) }}

</template>

<script>
export default {
  name: 'InputErrors',
  props: ['name', 'msg', 'errorBag'],
  data () {

    return {
      parentErrors: this.errorBag || this.$parent.errors
    };
  }
};
</script>