.form-buttons {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.btn:not(:last-child) {
		margin-right: 10px;
	}
}

.form-control.invalid {
	border-color: $error-color;
}

.input-group {
	.form-control.invalid {
		border-top-color: $error-color;
		border-bottom-color: $error-color;
		&:not(:first-child) { border-left-color: $input-border-color; }
		&:not(:last-child) { border-right-color: $input-border-color; }
	}
}

.invalid-feedback {
	margin-top: .25rem;
	font-size: .875rem;
	color: $error-color;
	display: block;
}

.form-static {
	label {
		color: $cinza-3;
		margin-bottom: 0.1em;
	}
	p {
		font-size: 15px;
	}
}

.custom-control-indicator{
	background-color: white;
	border: 1px solid #292b2c;
	border-radius: 0;
}

.custom-control-input:checked~.custom-control-indicator {
	color: #fff;
	border: none;
	background-color: #0275d8;
}

.required {
	&:after {
		color: red;
		content: "*";
		font-size: 12px;
	}
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}