@import "variaveis";
@import "~bootstrap/scss/bootstrap";
@import "form";
@import "loading";

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $font-color;
}
