/* Variáveis de Cores */

/* Cores de temas do sistema */

$brand-primary: #41b883;
$primary: $brand-primary;
$secondary: #41b883;

/* Cinzas */
$cinza-1: #f7f7f9;
$cinza-2: #eceeef;
$cinza-3: #636c72;
$cinza-4: #464a4c;
$cinza-5: #292b2c;

$font-color: $cinza-5;
$error-color: #dc3545;
