<template lang="pug">

  div#app

    nav.navbar.navbar-expand-md

      img(src="./assets/logo.png")
      router-link(to="/") Home
      router-link(to="/relatorio") Relatório

    router-view.container

</template>

<style lang="scss" scoped>
// @ is an alias to /src
@import '@/styles/variaveis.scss';


nav {
    height: 70px;
    background-color: $cinza-2;

    img {
        width: 100px;
        padding-bottom: 5px
    }

    a {
        font-weight: bold;
        color: $font-color;
        padding-left: 15px;
        &.router-link-exact-active {
            color: $primary;
        }
    }

    margin-bottom: 2rem;
}
</style>
