<template lang="pug">
  
</template>

<script>

export default {
  name: 'home',
  components: {
  },

  data() {
    return{
    }
  },
};
</script>

<style lang="scss" scoped>

@import '@/styles/variaveis.scss';

.card-header {
  background-color: $cinza-2;
}

</style>
