<template lang="pug">

  b-container
    b-row
      b-col(lg="3" class="pb-2")
        b-form-group(label="Data inicial da transação", label-for="data-transacao-inicial")
          b-form-input(type="date", v-model="filtro.dataEvento" id="data-transacao-inicial")

      b-col(lg="3" class="pb-2")
        b-form-group(label="Data final da transação", label-for="data-transacao-final")
          b-form-input(type="date", v-model="filtro.dataEventoFinal" id="data-transacao-final")

    b-row
      b-col(lg="1" class="pb-2")
        b-button(@click="limpar") Limpar

      b-col(lg="1" class="pb-2", variant="outline-primary")
        b-button(@click='pesquisar') Pesquisar
   
    b-row
      b-col(lg="10" class="pb-2")
        b-table(striped hover :items="items" :fields="campos" v-if="items")


</template>

<script>
import service  from '../services/service';

export default {

  data() {
    return {
      filtro: {
          dataEvento: null,
          dataEventoFinal: null
      },
      items: null,
      campos: [
          {
            key: 'dataEvento',
            label: 'Confirmação Venda',
 
          },
          {
            key: 'valorTransacao',
            label: 'Valor Transação',

          },
          {
            key: 'valorParcelaOuLiquidoTotal',
            label: 'Valor Parcela',

          },
  
          {
            key: 'qtdParcelas',
            label: 'Qtd Parcelas',

          },
          {
            key: 'dataPrevistaPagamento',
            label: 'Previsão Pagamento',

          },
          {
            key: 'valorOriginalTransacao',
            label: 'Valor Original Transação',

          },
          {
            key: 'tarifaIntermediacao',
            label: 'Tarifa Intermediação',

          },
          {
            key: 'tarifaBoletoVendedor',
            label: 'Tarifa Boleto Vendedor',
          },
          {
            key: 'repasseAplicacao',
            label: 'Repasse Aplicação',
          },
          {
            key: 'valorLiquidoTransacao',
            label: 'Valor Liquido Transação',
          },
          {
            key: 'instituicaoFinanceira',
            label: 'Instituição Financeira',
          }
        ]
    }
  },
  methods: {

    pesquisar() {
      service.findByFiltros(this.filtro, (response) => {
        this.items = response;
      }); 
    },

    limpar() {
      this.filtro.dataEvento = null;
      this.dataEventoFinal = null;
      this.items = null;
    }
    
  }
  
}
</script>

<style lang="scss">

.input-date {
  width: 90%
}

</style>
